name: Deploy PR Previews

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]

concurrency:
  group: preview-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: npm

      - name: Install and Build
        run: |
          npm ci
          npm run build
          # If your build already creates ./build, remove the next two lines
          mkdir -p build
          cp index.html build/

      - name: Upload preview artifact
        uses: actions/upload-artifact@v4
        with:
          name: pr-preview-build
          path: ./build/
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    # Run deploy on non-closed to publish, and on closed to cleanup
    if: github.event.action != 'closed'
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Download preview artifact
        if: github.event.action != 'closed'
        uses: actions/download-artifact@v4
        with:
          name: pr-preview-build
          path: ./build/

      - name: Deploy / Cleanup PR Preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
